Números

In [ ]:
x = 3
print(x,type(x))
print(x+x)
print(x-x)
print(x*x)
print(x**x)
print(x/x)

3 <class 'int'>
6
0
9
27
1.0

Boleanos

In [ ]:
t,f = True,False
print(t,f,type(t),type(f))
print(t and f,t and t,f and f)
print(t or f,t or t,f or f)
print(not t,not f)
print(t != f,not(t != f))  # XOR, XNOR

True False <class 'bool'> <class 'bool'>
False True False
True True False
False True
True False

Cadenas

In [ ]:
h = 'Hola'
m = 'mundo'
print(h,m)
h2 = ''' Hola
mundo
'''
print(h)
print(h2)
print(len(h),len(m),len(h2))
print(h+' espacio '+m)
print('{} {}{}'.format(h,m,2))

m1= 'mañana'
print(m1.rjust(100).upper())
print(m1.capitalize().center(100))
print(m1.replace('ñ','n').ljust(100))
print('    mundo   '.strip())

Hola mundo
Hola
 Hola
mundo

4 5 12
Hola espacio mundo
Hola mundo2
                                                                                              MAÑANA
                                               Mañana
manana
mundo

Listas

In [ ]:
xs = [0,1,2,3,4,5,6,7,8,9]
print(len(xs))
print(xs)
print(xs[0])
print(xs[-1])
xs[1] = 'texto'
print(xs)
xs.append('texto al final')
print(xs)
x = xs.pop()
print(x)
print(xs)

n = list(range(10))
print('''
''',n)
print(n[2:7])
print(n[2:])
print(n[:7])
print(n)

10
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
0
9
[0, 'texto', 2, 3, 4, 5, 6, 7, 8, 9]
[0, 'texto', 2, 3, 4, 5, 6, 7, 8, 9, 'texto al final']
texto al final
[0, 'texto', 2, 3, 4, 5, 6, 7, 8, 9]

 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Ciclos

In [ ]:
animales = ['gato', 'perro', 'mono','oso','rana']
for animal in animales:
  print(animal)
for animal in enumerate(animales):
  print(animal)
for n,animal in enumerate(animales):
  print(n+1,animal)

n = list(range(6))
naux = []
for x in n:
  naux.append(x ** 2)
  print(x)
print(naux)

n = list(range(10))
n = [x**2 for x in n]
print(n)

gato
perro
mono
oso
rana
(0, 'gato')
(1, 'perro')
(2, 'mono')
(3, 'oso')
(4, 'rana')
1 gato
2 perro
3 mono
4 oso
5 rana
0
1
2
3
4
5
[0, 1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Definiciones

In [ ]:
import math as m

def sign(x):
  if x > 0:
    return 'Positivo'
  elif x < 0:
    return 'Negativo'
  else:
    return 'Cero'
  
n = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
for x in n:
  print(sign(x))

def hola(name, loud=False):
    if loud:
        print('HOLA, {}'.format(name.upper()))
    else:
        print('hola, {}!'.format(name))

hola('Carlos')
hola('Juan', loud=True)

def factorial(x):
  if x > 0:
    return m.factorial(x)
  else:
    return 'inválido'

n = [-5,-4,-3,-2,-1,0,1,2,3,4,5]
for x in n:
  print(factorial(x))

def cuadrados(x):
  return

Negativo
Negativo
Negativo
Negativo
Negativo
Cero
Positivo
Positivo
Positivo
Positivo
Positivo
hola, Carlos!
HOLA, JUAN
inválido
inválido
inválido
inválido
inválido
inválido
1
2
6
24
120
120